const wavesurfer = WaveSurfer.create({
  container: '#waveform',
  waveColor: '#444',
  progressColor: '#1db954',
  height: 80
})

const playBtn = document.getElementById("play")
const title = document.getElementById("title")
const time = document.getElementById("time")
const volume = document.getElementById("volume")
const cover = document.getElementById("cover")

const tracks = [
{
title:"West Coast Type Beat",
src:"beats/beat1.mp3",
cover:"cover.jpg",
bpm:90,
genre:"West Coast"
},
{
title:"Boom Bap Beat",
src:"beats/beat2.mp3",
cover:"cover.jpg",
bpm:85,
genre:"Boom Bap"
},
{
title:"Trap Beat",
src:"beats/beat3.mp3",
cover:"cover.jpg",
bpm:140,
genre:"Trap"
}
]

let current = 0

function loadTrack(i){
current = i
wavesurfer.load(tracks[i].src)
title.innerText = tracks[i].title
cover.src = tracks[i].cover
}

playBtn.onclick = () => {
wavesurfer.playPause()
updatePlayBtn()
}

function updatePlayBtn(){
playBtn.innerText = wavesurfer.isPlaying() ? "⏸" : "▶"
}

wavesurfer.on('ready', updateTime)
wavesurfer.on('audioprocess', updateTime)
wavesurfer.on('finish', nextTrack)

function updateTime(){
let c = wavesurfer.getCurrentTime()
let d = wavesurfer.getDuration()
time.innerText = format(c) + " / " + format(d)
}

function format(sec){
let m = Math.floor(sec/60)
let s = Math.floor(sec%60)
if(s<10) s="0"+s
return m+":"+s
}

function nextTrack(){
current = (current + 1) % tracks.length
loadTrack(current)
wavesurfer.play()
updatePlayBtn()
}

volume.oninput = () => {
wavesurfer.setVolume(volume.value)
}

function shareTrack(track){
const url = window.location.href + "?track=" + encodeURIComponent(track.title)

navigator.clipboard.writeText(url)
alert("Link copiado 🔗")
}

function renderList(){
const list = document.getElementById("tracklist")
list.innerHTML = ""

tracks.forEach((t,i)=>{

const div = document.createElement("div")
div.className="track"

div.innerHTML = `
<div class="track-left">
<strong>${t.title}</strong><br>
<span>${t.genre} • ${t.bpm} BPM</span>
</div>

<div class="track-right">
<button class="icon-btn play-btn">▶</button>
<button class="icon-btn share-btn">🔗</button>
</div>
`

// PLAY INDIVIDUAL
div.querySelector(".play-btn").onclick = () => {
loadTrack(i)
wavesurfer.play()
updatePlayBtn()
}

// CLICK EN TRACK
div.querySelector(".track-left").onclick = () => {
loadTrack(i)
wavesurfer.play()
updatePlayBtn()
}

// SHARE
div.querySelector(".share-btn").onclick = () => {
shareTrack(t)
}

list.appendChild(div)

})
}

renderList()
loadTrack(0)
