body{
margin:0;
background:#0a0a0a;
color:white;
font-family:Arial;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.player{
background:#111;
padding:20px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.player img{
width:100%;
border-radius:10px;
}

.info{
display:flex;
justify-content:space-between;
margin-top:10px;
}

#waveform{
margin:20px 0;
}

.controls{
display:flex;
align-items:center;
gap:15px;
}

button{
background:#1db954;
border:none;
padding:10px 15px;
border-radius:20px;
color:white;
cursor:pointer;
}

.volume-box{
display:flex;
align-items:center;
gap:5px;
}

#volume{
width:100px;
}

#tracklist{
margin-top:20px;
}

.track{
padding:15px;
border-bottom:1px solid #222;
display:flex;
justify-content:space-between;
align-items:center;
}

.track:hover{
background:#1a1a1a;
}

.track-left{
cursor:pointer;
}

.track-right{
display:flex;
gap:10px;
}

.icon-btn{
background:#222;
border:none;
padding:8px 10px;
border-radius:10px;
cursor:pointer;
}

.icon-btn:hover{
background:#333;
}
