body{
margin:0;
background:#0a0a0a;
color:white;
font-family:Arial;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.player{
background:#111;
padding:20px;
border-radius:15px;
margin-bottom:25px;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.player img{
width:100%;
border-radius:10px;
}

.info{
display:flex;
justify-content:space-between;
color:#ccc;
margin-top:10px;
}

#waveform{
margin:20px 0;
}

.controls{
display:flex;
align-items:center;
gap:15px;
}

button{
background:#1db954;
border:none;
padding:10px 15px;
border-radius:20px;
color:white;
cursor:pointer;
}

.volume-box{
display:flex;
align-items:center;
gap:5px;
}

#tracklist{
margin-top:10px;
}

.track{
background:#111;
padding:15px;
border-radius:10px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
align-items:center;
transition:0.2s;
}

.track:hover{
background:#1a1a1a;
}

.track.active{
border:1px solid #1db954;
background:#1db95422;
}

.track-left span{
color:#888;
font-size:12px;
}

.track-right{
display:flex;
gap:8px;
}

.icon-btn{
background:#222;
border:none;
padding:8px 10px;
border-radius:8px;
color:white;
cursor:pointer;
}

.buy-btn{
background:#1db954;
border:none;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
}
